<h1>Risultati della ricerca</h1>

<script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"
    />

    <style id="compiled-css" type="text/css">
      html,
      body,
      #my-map {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    </style>
  </head>
  <body data-new-gr-c-s-check-loaded="14.991.0" data-gr-ext-installed="">
    <div id="my-map"></div>
    <script type="text/javascript">
      var map = L.map("my-map").setView([48.1500327, 11.5753989], 10);

      // Get your own API Key on https://myprojects.geoapify.com
      var myAPIKey = "a612f4f8e5d644869554d6f04a4e4a27";

      // Retina displays require different mat tiles quality
      var isRetina = L.Browser.retina;

      var baseUrl =
        "https://maps.geoapify.com/v1/tile/klokantech-basic/{z}/{x}/{y}.png?apiKey={apiKey}";
      var retinaUrl =
        "https://maps.geoapify.com/v1/tile/klokantech-basic/{z}/{x}/{y}@2x.png?apiKey={apiKey}";

      // Add map tiles layer. Set 20 as the maximal zoom and provide map data attribution.
      L.tileLayer(isRetina ? retinaUrl : baseUrl, {
        attribution:
          'Powered by <a href="https://www.geoapify.com/" target="_blank">Geoapify</a> | © OpenStreetMap <a href="https://www.openstreetmap.org/copyright" target="_blank">contributors</a>',
        apiKey: myAPIKey,
        maxZoom: 5,
        id: "klokantech-basic",
      }).addTo(map);

    const markerIcon = L.icon({
    iconUrl: `https://api.geoapify.com/v1/icon/?type=material&color=%23000000&icon=location_city&apiKey=${myAPIKey}`,
    iconSize: [31, 46], // size of the icon
    iconAnchor: [15.5, 42], // point of the icon which will correspond to marker's location
    popupAnchor: [0, -45] // point from which the popup should open relative to the iconAnchor
        });

    const zooMarkerPopup = L.popup().setContent("This is Munich Zoo");
    const zooMarker = L.marker(<%= @locations%> , {
    icon: markerIcon
    }).bindPopup(zooMarkerPopup).addTo(map);

    const zooMarkerPopup2 = L.popup().setContent("This is Munich Zoo");
    const zooMarker2 = L.marker([48.096980, 11.555466], {
    icon: markerIcon
    }).bindPopup(zooMarkerPopup2).addTo(map);


    </script> 