<%@destinationplace=params[:destinationplace]%>
<%if @destinationplace.include? "%20"%>
    <%arr=@destinationplace.split("%20")%>
    <%@destinationplace=""%>
    <%arr.each do |name|%>
        <%@destinationplace=@destinationplace+name.capitalize()+" "%>
    <%end%>
<%end%>
<%if @destinationplace.match? /0|1|2|3|4|5|6|7|8|9/%>
    <h4 style="color:red; text-align: center">Error: La città inserita non è valida</h4>
<%else%>
    <h1 style="text-align:center">Reviews for <%=@destinationplace%></h1>
    <%@reviews=Review.where("place=?", @destinationplace).to_ary%>
    <%if @reviews.any?%>
        <div id="reviews-div" class="d-flex flex-row" style="display: flex; flex-wrap: wrap; width: 91%; max-height: 90%; height: fit-content; margin: auto">
            <%@reviews.each do |r|%>
                <%if r%>
                    <div class="shadow-box" style="flex: 50%; text-align: left; font-size: 18px; margin: 1%; width: 48%; max-width: 48%; min-width: 48%; heigth: max-content">
                        <%= render "reviews/review", review: r %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <%else%>
        <div style="text-align:center"><p>Siamo spiacenti, non sono state trovate recensioni per <%=@destinationplace%></p></div>
    <%end%>
<%end%>