.link_to {
    text-decoration:none;
    color: black;
    font-size:30;
    border-style:solid;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.link_to:hover{
    color:black;
    background-color: lightgray;
}

.div_conteiner {
    width: 80%;
}

.voli {

    font-size: 14px; 
}