
.link_to_fav {
    text-decoration:none;
    color: black;
    font-size:30;
    
}

.link_to_fav:hover{
    color:black; 
}

.div_conteiner {
    width: 80%;
}

.voli {
    font-size: 16px; 
}

p {
    padding: 0px;
    margin: 2px;
}

.photo {
    height: 100%;
}

.hotel_div {
    height:100%; 
    display:flex; 
    font-size: 16px; 
 
}

.hotel_img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}